<!--{if !core::R('ajax')}-->
    <!--{template header}-->
    <!--{template inc/nav}-->
    <div class="full-container">
<!--{/if}-->
    <div class="modal-body">
        <div class="register-login-box login" id="login">
            <p class="login-head">Welcome</p>

            <div class="row">
                <!--<input type="text" class="form-control J-account" onchange="judgeLoginName(this)" placeholder="手机号或者邮箱">-->
                <input type="text" class="form-control J-account"  placeholder="手机号/邮箱/用户名">
            </div>
            <div class="row">
                <input type="password" class="form-control J-pwd" onchange="judgeLoginPassword(this)" maxlength="16"
                       placeholder="输入密码">
                <div class="caps-lock-warning hide"></div>
            </div>
            <div class="row">
                <input type="checkbox" class="checkbox">
                一周内自动登录
                <a href="{DIR}?c=user-forgot" onclick="return(dialog(this))" class="forgot-link"
                   data-target="#forgotModal">忘记密码？</a>
            </div>
            <div class="error-box" {if $message} style="display:block"{/if}> {$message} </div>
            <div class="row">
                <button onclick="post_data(this)" class="btn J-btn">登录</button>
            </div>
            <div class="row bottom">
                <p>没有账号？<a href="{DIR}?c=user-register" onclick="return(dialog(this))">立即注册</a></p>
            </div>
        </div>
    </div>
    <script>
        $('#login input').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#login .J-btn').click();
            }
        });
        initPwdCapsLock();
    </script>
<!--{if !core::R('ajax')}-->
    </div>
    <!--{template footer}-->
<!--{/if}-->

