<div class="tab-pane active" id="accountPassword">
    <div class="C-account-password">
        <div class="head-icon-box">
            {avatar($user_data['uid'], 'class="J-head-icon" alt=""')}
        </div>
        <div class="content-show-box">
            <div class="row">
                <div class="col-xs-12">
                    <span class="title">{$user_data['username']}</span>
                    <!--{if $user_data['isauth']}-->
                    <span class="status certified">已认证</span>
                    <!--{else}-->
                    <span class="status uncertified">未认证</span>
                    <!--{/if}-->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 label">旧密码</div>
                <div class="col-xs-3">
                    <input type="password" class="form-control old-pwd">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 label">新密码</div>
                <div class="col-xs-3">
                    <input type="password" class="form-control new-pwd" onchange="judgePassword(this)">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 label">确认密码</div>
                <div class="col-xs-3">
                    <input type="password" class="form-control new-pwd-confirm"
                           onchange="judgeChangePasswordConfirm(this)">
                </div>
            </div>
            <div class="row">
                <a href="javascript:void(0);" class="btn C-J-confirm-btn" onclick="update_password(this)">确认修改</a>
            </div>
        </div>
    </div>
</div>