/* n.png */
.input_unpass-png  {
  background:url(_account_icon.png) no-repeat 0 0; width:20px; height:20px;
}
.passed-png  {
  background:url(_account_icon.png) no-repeat -20px 0; width:20px; height:20px;
}
.unpass-png  {
  background:url(_account_icon.png) no-repeat -40px 0; width:20px; height:20px;
}
