/* n.png */
.add-btn-png  {
  background:url(_form_icon.png) no-repeat 0 0; width:27px; height:27px;
}
.img-upload-png  {
  background:url(_form_icon.png) no-repeat -27px 0; width:42px; height:37px;
}
.radiobox-blue-png  {
  background:url(_form_icon.png) no-repeat -69px 0; width:18px; height:18px;
}
.radiobox-png  {
  background:url(_form_icon.png) no-repeat -87px 0; width:18px; height:18px;
}
.shaungxiang_arrow-png  {
  background:url(_form_icon.png) no-repeat -105px 0; width:20px; height:11px;
}
.tip-error-label-png  {
  background:url(_form_icon.png) no-repeat -125px 0; width:46px; height:24px;
}
.tip-error-png  {
  background:url(_form_icon.png) no-repeat -171px 0; width:24px; height:24px;
}
.tip-warning-label-png  {
  background:url(_form_icon.png) no-repeat -195px 0; width:46px; height:24px;
}
.tip-warning-png  {
  background:url(_form_icon.png) no-repeat -241px 0; width:24px; height:24px;
}
