/* n.png */
.icon-area-png  {
  background:url(_home_icon.png) no-repeat 0 0; width:20px; height:24px;
}
.icon-city-png  {
  background:url(_home_icon.png) no-repeat -20px 0; width:18px; height:24px;
}
.icon-eye-png  {
  background:url(_home_icon.png) no-repeat -38px 0; width:35px; height:20px;
}
.icon-field-png  {
  background:url(_home_icon.png) no-repeat -73px 0; width:24px; height:24px;
}
.icon-model-png  {
  background:url(_home_icon.png) no-repeat -97px 0; width:14px; height:21px;
}
.icon-user-png  {
  background:url(_home_icon.png) no-repeat -111px 0; width:24px; height:24px;
}
.id-icon-png  {
  background:url(_home_icon.png) no-repeat -135px 0; width:24px; height:24px;
}
