/* n.png */
.alert-warning-png  {
  background:url(_icon.png) no-repeat 0 0; width:24px; height:24px;
}
.caps-lock-warning-png  {
  background:url(_icon.png) no-repeat -24px 0; width:189px; height:52px;
}
.circle-arrow-down-png  {
  background:url(_icon.png) no-repeat -213px 0; width:56px; height:56px;
}
.circle-arrow-up-png  {
  background:url(_icon.png) no-repeat -269px 0; width:56px; height:56px;
}
.down-arrow-png  {
  background:url(_icon.png) no-repeat -325px 0; width:18px; height:9px;
}
.footer-email-png  {
  background:url(_icon.png) no-repeat -343px 0; width:25px; height:17px;
}
.footer-phone-png  {
  background:url(_icon.png) no-repeat -368px 0; width:15px; height:22px;
}
.footer-weixin-png  {
  background:url(_icon.png) no-repeat -383px 0; width:26px; height:20px;
}
.left-png  {
  background:url(_icon.png) no-repeat -409px 0; width:28px; height:50px;
}
.qq-png  {
  background:url(_icon.png) no-repeat -437px 0; width:33px; height:33px;
}
.radiobox-blue-png  {
  background:url(_icon.png) no-repeat -470px 0; width:18px; height:18px;
}
.radiobox-png  {
  background:url(_icon.png) no-repeat -488px 0; width:18px; height:18px;
}
.right-png  {
  background:url(_icon.png) no-repeat -506px 0; width:28px; height:50px;
}
.sina-1-png  {
  background:url(_icon.png) no-repeat -534px 0; width:32px; height:33px;
}
.up-arrow-png  {
  background:url(_icon.png) no-repeat -566px 0; width:18px; height:9px;
}
.weixin-1-png  {
  background:url(_icon.png) no-repeat -584px 0; width:33px; height:33px;
}
