/* n.png */
.bottom-icon-1-png  {
  background:url(_index_icon.png) no-repeat 0 0; width:50px; height:50px;
}
.bottom-icon-2-png  {
  background:url(_index_icon.png) no-repeat -50px 0; width:50px; height:50px;
}
.news-icon1-png  {
  background:url(_index_icon.png) no-repeat -100px 0; width:22px; height:22px;
}
.news-icon2-png  {
  background:url(_index_icon.png) no-repeat -122px 0; width:21px; height:22px;
}
.news-more-arrow-png  {
  background:url(_index_icon.png) no-repeat -143px 0; width:8px; height:16px;
}
.point-a-png  {
  background:url(_index_icon.png) no-repeat -151px 0; width:100px; height:100px;
}
.point-b-png  {
  background:url(_index_icon.png) no-repeat -251px 0; width:100px; height:100px;
}
.point-c-png  {
  background:url(_index_icon.png) no-repeat -351px 0; width:100px; height:100px;
}
.point-d-png  {
  background:url(_index_icon.png) no-repeat -451px 0; width:100px; height:100px;
}
.reason-icon-1-png  {
  background:url(_index_icon.png) no-repeat -551px 0; width:100px; height:100px;
}
.reason-icon-2-png  {
  background:url(_index_icon.png) no-repeat -651px 0; width:100px; height:100px;
}
.reason-icon-3-png  {
  background:url(_index_icon.png) no-repeat -751px 0; width:100px; height:100px;
}
.reason-icon-4-png  {
  background:url(_index_icon.png) no-repeat -851px 0; width:100px; height:100px;
}
