/* n.png */
.android-green-png  {
  background:url(_project_icon.png) no-repeat 0 0; width:17px; height:20px;
}
.android-white-png  {
  background:url(_project_icon.png) no-repeat -17px 0; width:17px; height:20px;
}
.app-links-png  {
  background:url(_project_icon.png) no-repeat -34px 0; width:15px; height:20px;
}
.check-png  {
  background:url(_project_icon.png) no-repeat -49px 0; width:20px; height:20px;
}
.detail-1-png  {
  background:url(_project_icon.png) no-repeat -69px 0; width:15px; height:20px;
}
.detail-2-png  {
  background:url(_project_icon.png) no-repeat -84px 0; width:20px; height:20px;
}
.edit-off-png  {
  background:url(_project_icon.png) no-repeat -104px 0; width:50px; height:14px;
}
.edit-on-png  {
  background:url(_project_icon.png) no-repeat -154px 0; width:50px; height:14px;
}
.heart-1-png  {
  background:url(_project_icon.png) no-repeat -204px 0; width:41px; height:41px;
}
.heart-2-png  {
  background:url(_project_icon.png) no-repeat -245px 0; width:41px; height:41px;
}
.income-png  {
  background:url(_project_icon.png) no-repeat -286px 0; width:19px; height:19px;
}
.iso-gray-png  {
  background:url(_project_icon.png) no-repeat -305px 0; width:17px; height:20px;
}
.iso-white-png  {
  background:url(_project_icon.png) no-repeat -322px 0; width:17px; height:20px;
}
.link-png  {
  background:url(_project_icon.png) no-repeat -339px 0; width:21px; height:20px;
}
.message-bg-png  {
  background:url(_project_icon.png) no-repeat -360px 0; width:30px; height:20px;
}
.sina-2-red-png  {
  background:url(_project_icon.png) no-repeat -390px 0; width:26px; height:20px;
}
.sina-2-white-png  {
  background:url(_project_icon.png) no-repeat -416px 0; width:26px; height:20px;
}
.stage-png  {
  background:url(_project_icon.png) no-repeat -442px 0; width:19px; height:19px;
}
.status-png  {
  background:url(_project_icon.png) no-repeat -461px 0; width:19px; height:19px;
}
.support-btn-icon-png  {
  background:url(_project_icon.png) no-repeat -480px 0; width:26px; height:24px;
}
.website-blue-png  {
  background:url(_project_icon.png) no-repeat -506px 0; width:20px; height:20px;
}
.website-png  {
  background:url(_project_icon.png) no-repeat -526px 0; width:20px; height:20px;
}
.weixin-2-green-png  {
  background:url(_project_icon.png) no-repeat -546px 0; width:24px; height:20px;
}
.weixin-2-white-png  {
  background:url(_project_icon.png) no-repeat -570px 0; width:24px; height:20px;
}
