/* n.png */
.classify1-blue-png  {
  background:url(_publish_icon.png) no-repeat 0 0; width:60px; height:62px;
}
.classify1-white-png  {
  background:url(_publish_icon.png) no-repeat -60px 0; width:60px; height:62px;
}
.classify2-blue-png  {
  background:url(_publish_icon.png) no-repeat -120px 0; width:52px; height:62px;
}
.classify2-white-png  {
  background:url(_publish_icon.png) no-repeat -172px 0; width:52px; height:62px;
}
.step-flag-blue-png  {
  background:url(_publish_icon.png) no-repeat -224px 0; width:20px; height:20px;
}
.step-flag-gray-png  {
  background:url(_publish_icon.png) no-repeat -244px 0; width:20px; height:20px;
}
.step-flag-white-png  {
  background:url(_publish_icon.png) no-repeat -264px 0; width:20px; height:20px;
}
