/* n.png */
.O-png  {
  background:url(_app_icon.png) no-repeat 0 0; width:18px; height:18px;
}
.O_blue-png  {
  background:url(_app_icon.png) no-repeat -18px 0; width:18px; height:18px;
}
.arrow-down-png  {
  background:url(_app_icon.png) no-repeat -36px 0; width:14px; height:7px;
}
.arrow-up-png  {
  background:url(_app_icon.png) no-repeat -50px 0; width:14px; height:7px;
}
.gray-arrow-down-png  {
  background:url(_app_icon.png) no-repeat -64px 0; width:28px; height:14px;
}
.gray-arrow-up-png  {
  background:url(_app_icon.png) no-repeat -92px 0; width:28px; height:14px;
}
.home-png  {
  background:url(_app_icon.png) no-repeat -120px 0; width:50px; height:50px;
}
.line-png  {
  background:url(_app_icon.png) no-repeat -170px 0; width:84px; height:2px;
}
.line_0-png  {
  background:url(_app_icon.png) no-repeat -254px 0; width:84px; height:2px;
}
.logo-png  {
  background:url(_app_icon.png) no-repeat -338px 0; width:110px; height:54px;
}
.no-news-bg-jpg  {
  background:url(_app_icon.png) no-repeat -448px 0; width:164px; height:66px;
}
.no-png  {
  background:url(_app_icon.png) no-repeat -612px 0; width:80px; height:80px;
}
.num-add-active-jpg  {
  background:url(_app_icon.png) no-repeat -692px 0; width:38px; height:38px;
}
.num-add-disabled-jpg  {
  background:url(_app_icon.png) no-repeat -730px 0; width:38px; height:38px;
}
.num-desc-active-jpg  {
  background:url(_app_icon.png) no-repeat -768px 0; width:39px; height:39px;
}
.num-desc-disabled-jpg  {
  background:url(_app_icon.png) no-repeat -807px 0; width:39px; height:39px;
}
.project-default-png  {
  background:url(_app_icon.png) no-repeat -846px 0; width:54px; height:30px;
}
.radiobox-blue-png  {
  background:url(_app_icon.png) no-repeat -900px 0; width:18px; height:18px;
}
.radiobox-png  {
  background:url(_app_icon.png) no-repeat -918px 0; width:18px; height:18px;
}
.red-heart-png  {
  background:url(_app_icon.png) no-repeat -936px 0; width:34px; height:30px;
}
.user-head-default-png  {
  background:url(_app_icon.png) no-repeat -970px 0; width:46px; height:46px;
}
.website-png  {
  background:url(_app_icon.png) no-repeat -1016px 0; width:41px; height:42px;
}
.weibo-png  {
  background:url(_app_icon.png) no-repeat -1057px 0; width:42px; height:42px;
}
.weixin-png  {
  background:url(_app_icon.png) no-repeat -1099px 0; width:41px; height:42px;
}
