<div class="home-content-1">
    <div class="container">
        <div class="points-4">
            <ul>
                <li class="point1">
                    <a href="{DIR}?c=help-133">
                        <div class="point-border"></div>
                        <div class="point-img point-img-1"></div>
                        <p class="point-title">一分钟教学</p>
                        <div class="pointer-bottom-line"></div>
                    </a>
                </li>
                <li class="point2">
                    <a href="{DIR}?c=help-123">
                        <div class="point-border"></div>
                        <div class="point-img point-img-2"></div>
                        <p class="point-title">众筹流程大揭底</p>
                        <div class="pointer-bottom-line"></div>
                    </a>
                </li>
                <li class="point3">
                    <a href="{DIR}?c=publish-index">
                        <div class="point-border"></div>
                        <div class="point-img point-img-3"></div>
                        <p class="point-title">项目发布</p>
                        <div class="pointer-bottom-line"></div>
                    </a>
                </li>
                <li class="point4">
                    <a href="javascript:void(0);" data-href="{DIR}?c=user-certificate" class="J-investor-certification-link">
                        <div class="point-border"></div>
                        <div class="point-img point-img-4"></div>
                        <p class="point-title">投资人申请</p>
                        <div class="pointer-bottom-line"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>