<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>18plus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        var DIR="{DIR}{ADMIN_DIR}", API_DIR="{DIR}", FORM_HASH="{misc::form_hash()}";
    </script>
    <!--{static ../static/admin/css/bootstrap.min.css admin/css/_admin_global.css}-->
    <!--{static ../static/admin/css/font-awesome.css admin/css/_admin_global.css}-->
    <!--{static ../static/admin/css/style.css admin/css/_admin_global.css}-->
    <!--{static ../static/admin/js/jquery-1.11.3.min.js admin/js/_admin_global.js}-->
    <!--{static ../static/admin/js/bootstrap.min.js admin/js/_admin_global.js}-->
    <!--{static ../static/admin/js/common.js admin/js/_admin_global.js}-->
    <link href="{$conf['static_url']}admin/icon/font-awesome.css" rel="stylesheet">
</head>
<body>
<div class="content-box">