<!--{template admin/header}-->
<!--{template admin/project_header}-->
<!--{eval
    $select_rank = array($search['rank'] => ' selected');
    $select_sort_order = array($search['sort_order'] => ' selected');
    $select_search = array($search['search'] => ' selected');
    $select_screen = array($search['screen'] => ' selected');
}-->
<div class="title">
    日志列表
</div>
<div>
    <form action="{DIR}{ADMIN_DIR}/log/index/" method="post">
        <label>排序：</label>
        <select name="search[rank]">
            <option selected="" value="">选择排序方式</option>
            <option value="id" {print_r($select_rank[id],1)}>ID</option>
            <option value="dateline" {print_r($select_rank[dateline],1)}>操作时间</option>
        </select>
        <select name="search[sort_order]">
            <option selected="" value="">排序方式</option>
            <option value="ASC" {print_r($select_sort_order[ASC],1)}>升序</option>
            <option value="DESC" {print_r($select_sort_order[DESC],1)}>降序</option>
        </select>

        <label>搜索：</label>
        <select name="search[search]">
            <option selected="" value="">选择搜索项</option>
            <option value="user_id" {print_r($select_search[user_id],1)}>user_id</option>
        </select>
        <input type="text" name="search[search_value]" value="{$search['search_value']}">
        <label>日期筛选：</label>
        <input type="text" name="search[start]" value="{$search['start']}" maxlength="10" placeholder="{date('Y-m-d')}" style="width: 100px;">
        <input type="text" name="search[end]" value="{$search['end']}" maxlength="10" placeholder="{date('Y-m-d')}" style="width: 100px;">
        <input type="submit" value="确定">
    </form>
</div>
<div class="content">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>序号</th>
            <th>日志ID</th>
            <th>User_id</th>
            <th>Control</th>
            <th>Action</th>
            <th>操作内容</th>
            <th>时间</th>
        </tr>
        </thead>
        <tbody>
        <!--{loop $log_list $key $list}-->
        <!--{eval
            $num = $key+1;
            $request_arr = json_decode($list['request'],1);
            $content = '';
            foreach($request_arr as $key=>$value){
                if(!is_array($value)){
                    $content .=$key.' = '.$value.' ;<br> ';
                }else{
                    foreach($value as $keys=>$values){
                        $content .=$keys.' = '.$values.' ;<br> ';
                    }
                }
            }
            $control = array(
                'project' => '项目管理',
                'order' => '订单管理',
                'trade' => '交易管理',
                'user' => '用户管理',
                'message' => '通知管理',
                'var' => '首页设置',
                'article' => '文章管理',
                'log' => '日志管理',
                );
        }-->
        <tr>
            <td>{$num}</td>
            <td>{$list['id']}</td>
            <td>{$list['user_id']}</td>
            <td>{print_r($control[$list['control']],1)}</td>
            <td>{$list['action']}</td>
            <td><a href="javascript:void(0);" onclick="showModal(this)" data-id="{$content}">查看</a></td>
            <td>{date('Y-m-d H:i:s',$list['dateline'])}</td>
        </tr>
        <!--{/loop}-->
        </tbody>
    </table>
    <div class="page-box">{$page_html}</div>
</div>

<div class="modal fade" id="logModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                操作数据
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="message">
                    </div>
                    <div class="btn-box">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--{static ../static/js/admin_message.js _admin_message.js}-->
<script>
    function showModal(o) {
        var message = $(o).data('id');
        $('#logModal .message').html(message);
        $('#logModal').modal('show');
    }
</script>
<!--{template admin/footer}-->