<!--{template admin/header}-->
<!--{template admin/project_header}-->
<!--{static ../static/admin/js/article.js admin/js/_article.js}-->
<div class="title">
    <a class="form-control new-btn" href="{DIR}{ADMIN_DIR}/project/lead_edit/project_id/{$project_id}/">新建</a>领头人
</div>
<div class="content">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>姓名</th>
            <th>用户ID</th>
            <th>简介</th>
            <th>领投人理由</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <!--{loop $lead_list $list}-->
        <tr>
            <td>{$list['name']}</td>
            <td>{$list['id']}</td>
            <td>{$list['intro']}</td>
            <td>{$list['reason']}</td>
            <td>
                <a href="{DIR}{ADMIN_DIR}/project/lead_edit/project_id/{$project_id}/id/{$list['id']}/" class="btn edit-btn">编辑</a>
                <a href="javascript:void(0);" class="btn delete-btn" onclick="deleteItem('remove_project_lead',{$list['id']})">删除</a>
            </td>
        </tr>
        <!--{/loop}-->
        </tbody>
    </table>
</div>
<div class="page-box">{$page_html}</div>
<!--{template admin/footer}-->