<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>18plus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="../../static/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/admin/css/style.css" rel="stylesheet">
    <link href="../../static/admin/icon/font-awesome.css" rel="stylesheet">
</head>
<body>
<div class="content-box">
    <div class="title">
        已完成项目
    </div>
    <div class="content">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>项目名称</th>
                <th>项目ID</th>
                <th>创建用户</th>
                <th>融资目标</th>
                <th>已融资金额</th>
                <th>融资进度</th>
                <th>投资人数</th>
                <th>关注度</th>
                <th>约见数</th>
                <th>截止日期</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>脸书</td>
                <td>0931</td>
                <td>马克</td>
                <td>100万</td>
                <td>0万</td>
                <td>0%</td>
                <td>100</td>
                <td>1000</td>
                <td>500</td>
                <td>2015-06-19</td>
                <td>成功</td>
                <td>
                    <a href="javascript:void(0);" class="a-btn"><i class="icon-eye-close"></i>下线</a>
                </td>
            </tr>
            <tr>
                <td>脸书</td>
                <td>0931</td>
                <td>马克</td>
                <td>100万</td>
                <td>0万</td>
                <td>0%</td>
                <td>100</td>
                <td>1000</td>
                <td>500</td>
                <td>2015-06-19</td>
                <td>失败</td>
                <td>
                    <a href="javascript:void(0);" class="a-btn"><i class="icon-eye-close"></i>下线</a>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
</div>
</body>
</html>