<div class="points-4">
    <ul>
        <li>
            <a href="{DIR}?c=help-133">
                <img src="{$conf[static_url]}images/point1.jpg" alt="">
                <p class="point-title">一分钟教学：股权众筹是个啥</p>
            </a>
        </li>
        <li>
            <a href="{DIR}?c=help-123">
                <img src="{$conf[static_url]}images/point2.jpg" alt="">
                <p class="point-title">众筹流程大揭底</p>
            </a>
        </li>
        <li>
            <a href="{DIR}?c=publish-index" class="J-project-release-link">
                <img src="{$conf[static_url]}images/point3.jpg" alt="">
                <p class="point-title">项目发布</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" data-href="{DIR}?c=user-certificate" class="J-investor-certification-link">
                <img src="{$conf[static_url]}images/point4.jpg" alt="">
                <p class="point-title">投资人申请</p>
            </a>
        </li>
    </ul>
</div>
