<!--{template mobile/header}-->

<div class="pay-way-box">
    <div class="title">选择付款方式</div>
    <div class="pay-select-box">
        <div class="online-box">
            <div class="label">线上支付</div>
            <div class="am-g select-box">
                <div class="am-u-sm-6">
                    交通银行储蓄卡
                </div>
                <div class="am-u-sm-6 select-btn J-select-btn">
                    <a href="javascript:void(0);" class="status-flag" data-target="traffic-pay"></a>
                </div>
            </div>
        </div>
        <div class="offline-box">
            <div class="label">线下支付</div>
            <div class="am-g select-box">
                <div class="am-u-sm-6">
                    银行汇款
                </div>
                <div class="am-u-sm-6 select-btn J-select-btn">
                    <a href="javascript:void(0);" class="status-flag" data-target="offline-pay"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="title">注意事项</div>
    <div class="notice-box">
        <p class="title">
            请仔细阅读汇款风险提示
        </p>
        <p>
            1. 投资人资格排序由到账时间决定，因此推荐使用到账最快的方式，如在线支付等。
        </p>
        <p>
            2. 请确保到款金额准确等于订单总额，多于或少于订单总额的情况都会导致无法完成交易。
        </p>
        <p>
            3. 如选择银行汇款，手续费请自行支付，订单总额不包括汇款手续费。
        </p>
        <p>
            4. 如果由于汇款信息输入错误导致无法完成情况，产生的费用由汇款方承担。
        </p>

    </div>
    <div class="bottom-btn-box">
        <a href="javascript:void(0);" class="btn J-pay-btn">去支付</a>
    </div>

</div>

<!--{template mobile/footer}-->
<!--{static ../static/mobile/js/order.js _mobile_order.js}-->
