<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{$pages['title']}</title>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script>
        var DIR="{DIR}", API_DIR="{DIR}", FORM_HASH="{misc::form_hash()}" , globalEvents = [];
        (function() {
            var isMobile = (function () {
                var mobile = /iphone|android|phone|mobile|wap|netfront|java|opera mobi|opera mini|ucweb|windows ce|symbian|series|webos|sony|blackberry|dopod|nokia|samsung|palmsource|xda|pieplus|meizu|midp|cldc|motorola|foma|docomo|up.browser|up.link|blazer|helio|hosin|huawei|novarra|coolpad|webos|techfaith|palmsource|alcatel|amoi|ktouch|nexian|ericsson|philips|sagem|wellcom|bunjalloo|maui|smartphone|iemobile|spice|bird|zte-|longcos|pantech|gionee|portalmmm|jig browser|hiptop|benq|haier|lct|320x320|240x320|176x220|windows phone/ig, ipad = /ipad/ig, ua = navigator.userAgent, isMo = ua.search(mobile) > -1 ? 1 : 0;
                if (ua.search(ipad) > -1) {
                    return false
                }
                return isMo
            })();
            if(!isMobile){
                <!--{if $pages['pc_url']}-->
                location.href= '{$conf['app_url']}{$pages['pc_url']}';
                <!--{else}-->
                location.href= '{$conf['app_url']}'+location.pathname.substr(1)+location.search+location.hash;
                <!--{/if}-->
            }
        })();
    </script>
    <link rel="icon" type="image/png" href="{$conf['static_url']}/mobile/images/favicon.ico">


    <!--{static ../static/mobile/css/amazeui.min.css mobile/css/_mobile_global.css}-->
    <!--{static ../static/mobile/css/app.css mobile/css/_mobile_global.css}-->
</head>
<body>


<div class="am-g header">
    <div class="am-u-sm-3 left-box">
        <a href="{DIR}">
            <img src="{$conf['static_url']}/mobile/images/home.png" alt="" class="home-icon">
        </a>
    </div>
    <div class="am-u-sm-6 am-u-sm-centered">
        <A href="{DIR}"><img src="{$conf['static_url']}/mobile/images/logo.png" alt="$conf['app_name']" class="header-logo"></A>
    </div>
    <div class="am-u-sm-3 right-box" id="user-box">

    </div>
</div>