<!--{template header}-->
<!--{static ../static/js/address-input.js _return_confirm.js}-->
<!--{static ../static/js/return-confirm.js _return_confirm.js}-->
<!--{template inc/nav}-->

<div class="container pay-container">
    <div class="bank-info" id="bankInfo">
        <p class="title">汇款信息</p>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>应付金额</td>
                <td>9000.00元</td>
            </tr>
            <tr>
                <td>应户名</td>
                <td>北京无花果科技咨询有限公司</td>
            </tr>
            <tr>
                <td>账号</td>
                <td>1109147496101020001170003</td>
            </tr>
            <tr>
                <td>开户行</td>
                <td>招商银行北京建国门支行</td>
            </tr>
            <tr>
                <td>汇款单附言请注明</td>
                <td>MD38471982179（附言仅填此码）</td>
            </tr>
            </tbody>
        </table>
        <p class="desc">
            汇款信息已发送到您的邮箱： zhongyang@18pls.com.cn
        </p>
        <p class="desc">
            收到您的汇款后，我们会及时变更您的订单状态
        </p>
        <p class="btn-box">
            <a href="{DIR}?c=user-invested" class="btn">查看我投资的项目</a>
        </p>
    </div>

</div>

<!--{template footer}-->