<!--{eval
$titles = array(
    'center' => '基本信息',
    'invested' => '投资的项目',
    'financing' => '融资的项目',
    'message' => '消息通知',
    'password' => '修改密码',
);
$pages['title'] = $titles[core::R('a')];

$pages['pc_url'] = 'user/center/';
}-->
<!--{template vc/header}-->
<div class="am-g footer user-footer">
    <div class="am-u-sm-8 am-u-sm-centered nickname">
        {print_r($user->username,1)}
    </div>
    <div class="am-u-sm-2 right-box">
        <a href="{DIR}?c=user-logout&FORM_HASH={misc::form_hash()}" class="logout">退出</a>
    </div>
</div>

<!--{template vc/footer}-->
